@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* ---- reset ---- */
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }
canvas{ display: block; vertical-align: bottom; }

#particles-js {
    width: 100%;
    height: 100vh;
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
            url("darkbg.jpeg");
    background-position: center;
    background-size: cover;
}

/* ---- stats.js ---- */
.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; }

.js-count-particles{ font-size: 1.1em; }

#stats, .count-particles{ -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px; }
#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden; }
.count-particles{ border-radius: 0 0 3px 3px; }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* we use dot (.) to target class and
hash (#) to target id... */


.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    Border:red 1px solid;
}

h1 {
    color: white;
    font-family: 'DINPro-Light';
    font-size: 100px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

h2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    padding-left: 20%;
}
