@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    /*border: 1px red solid;*/
    color: white;
}


body{ margin:0;}

canvas{ display: block; vertical-align: bottom; }



#particles-js {
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
            url("darkbg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1; // this is optional
}

.content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /*width: 80%;*/
    height: 100%;
    /*overflow: auto;*/
    overflow-y: scroll;
    overflow-x: hidden;
    text-align:justify;
}
@media only screen and (max-width: 600px) {
    p {
        padding-right: 4%;
    }
}

.headshot {
    border-radius: 50%;
    alignment: center;

}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*p {*/
/*    transition: all 90ms ease-in-out;*/
/*}*/
/*p:hover {*/
/*    background-color: darkblue;*/
/*}*/

a {
    text-decoration: none;
}

/*highlight under underline========🟩🟩🟩🟩=============*/

#div {
    /*  margin: 0; */
    display: flex;//will flex the screen
align-items: center;
    /*  justify-content: center; */
    /*  height: 100vh; */
    background-color:beige;
    border: red solid 1px
}

.underline {
    /*   text-decoration: none;
      text-transform: uppercase; */
    font-size: 50px;
    color: black;
    position: relative;
}

.underline:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #00bcd4;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
}

.underline:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #f0f;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
}

.underline:hover:before {
    width: 50%;
    transform: translateX(100%);
}

.underline:hover:after {
    width: 50%;
    transform: translateX(-100%);
}
/*highlight under underline========🟩🟩🟩🟩=============*/

/*

<div class="col-lg-4"></div>
		<div class="col-lg-3"></div>
		<div class="col-lg-5"></div>

*/


/*hover effect on md/lg screen size START*/
.wp-caption {
    position: relative;
    padding: 0;
    margin: 0;
}
.wp-caption img {
    display: block;
    max-width: 100%;
    height: auto;
}
.wp-caption-text {
    opacity: 0;
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 0.75em 1em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.7);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.wp-caption:hover .wp-caption-text {
    opacity: 1;
}
/*hover effect on md/lg screen size END*/

/*// Example*/
/*// Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 992px) and (max-width: 1450px) {

    .areas-of-focus {
        background-color: #00bcd4;
        margin-top: 25%;
    }

    .contact {
        background-color: darkblue;
        margin-top: 25%;
    }

    .socials {
        background-color: darkslategrey;
        margin-top: 25%;
    }
}