
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    border: 1px red solid;
    color: white;
}

:root {
    --a:#1A5857;
    --b:#109FB3;
    --c:#AABF15;
    --d:#DF7C1D;
    --e:#E54542;
}

body{ margin:0;}

canvas{ display: block; vertical-align: bottom; }



#particles-js {
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
            url("darkbg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1; // this is optional
}

.content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /*width: 80%;*/
    height: 100%;
    /*overflow: auto;*/
    overflow-y: scroll;
    overflow-x: hidden;
    text-align:justify;
}
@media only screen and (max-width: 600px) {
    p {
        padding-right: 4%;
    }
}

.headshot {
    border-radius: 50%;
    alignment: center;

}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


a {
    text-decoration: none;
}



/*hover effect on md/lg screen size START*/
.wp-caption {
    position: relative;
    padding: 0;
    margin: 0;
}
.wp-caption img {
    display: block;
    max-width: 100%;
    height: auto;
}
.wp-caption-text {
    opacity: 0;
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 0.75em 1em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.7);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.wp-caption:hover .wp-caption-text {
    opacity: 1;
}
/*hover effect on md/lg screen size END*/

/*// Example*/
/*// Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 992px) and (max-width: 1450px) {

    .areas-of-focus {
        /*background-color: #00bcd4;*/
        margin-top: 40%;
    }

    .contact {
        /*background-color: darkblue;*/
        margin-top: 30%;
    }

    .socials {

        margin-top: 30%;
    }
}

.areas-of-focus p {
margin: 0;
}

/*

<!--				<a class="" href="https://github.com/ethan-jeffrey-movie-project/movie-project" target="_blank">Movie project</a>&lt;!&ndash;3&ndash;&gt;-->
							<!--				<br>-->
							<!--				<a class="" href="https://flores-cabrera-coffee-project.github.io/coffee-project/" target="_blank">Cafesito</a>&lt;!&ndash;3&ndash;&gt;-->
							<!--				<br>-->
							<!--				<a class="" href="https://github.com/jeffrey840/Weather-Map-Project" target="_blank">Weather Map Project</a>&lt;!&ndash;3&ndash;&gt;-->

*/