@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    border: 1px red solid;
    color: white;
}


body{ margin:0;}

canvas{ display: block; vertical-align: bottom; }



#particles-js {
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
            url("darkbg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1; // this is optional
}

.content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /*width: 80%;*/
    height: 100%;
    /*overflow: auto;*/
    overflow-y: scroll;
    overflow-x: hidden;
    text-align:justify;
}
@media only screen and (max-width: 600px) {
    p {
        padding-right: 4%;
    }
}

.headshot {
    border-radius: 50%;
}

/*p {*/
/*    transition: all 90ms ease-in-out;*/
/*}*/
/*p:hover {*/
/*    background-color: darkblue;*/
/*}*/

a {
    text-decoration: none;
}

/*highlight under underline========🟩🟩🟩🟩=============*/

#div {
    /*  margin: 0; */
    display: flex;//will flex the screen
align-items: center;
    /*  justify-content: center; */
    /*  height: 100vh; */
    background-color:beige;
    border: red solid 1px
}

.underline {
    /*   text-decoration: none;
      text-transform: uppercase; */
    font-size: 50px;
    color: black;
    position: relative;
}

.underline:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #00bcd4;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
}

.underline:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #f0f;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
}

.underline:hover:before {
    width: 50%;
    transform: translateX(100%);
}

.underline:hover:after {
    width: 50%;
    transform: translateX(-100%);
}
/*highlight under underline========🟩🟩🟩🟩=============*/